<div>

  <div class="py-4">
    <h2>Administración</h2>
    <hr class="w-50" />

    <table class="table w-50 m-auto">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">photo</th>
          <th scope="col">name</th>
          <th scope="col">Años de experiencia</th>
          <th scope="col">skill</th>
          <th scope="col">validate</th>
        </tr>
      </thead>
      <tbody id='cuerpo'>
        {{#each users}}
        <tr>
          <td>{{@index }}</td>
          <td><img src='/uploads/{{this.photo}}' style='width:100px;'></td>
          <td>{{this.name}}</td>
          <td>{{this.experience}}</td>
          <td>{{this.skill}}</td>
          <td><input type='checkbox' {{#if this.validate}} checked {{/if}} onclick='changeStatus({{this.id}},this)'>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script>
  const changeStatus = async (id, e) => {
    const validate = e.checked;

    try {
      const response = await axios.put('http://localhost:3000/approve_user', {
        id,
        validate,
      });

      Swal.fire({
        icon: validate ? 'success' : 'warning',
        title: validate ? '¡Éxito!' : 'Warning',
        text: validate ? 'Perfil de usuario aprobado' : 'Perfil de usuario en revisión',
      });
    } catch (error) {
      if (error.response) {
        const { data } = error.response;
        const { error: errorMessage } = data;
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: errorMessage,
        });
      } else if (error.request) {
        Swal.fire({
          icon: 'warning',
          title: 'Advertencia',
          text: 'No se recibió respuesta del servidor.',
        });
      } else {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'Ocurrió un error al realizar la solicitud.',
        });
      }
    }
  };
</script>
