<div class="home-container">

  <h2>Profile</h2>

  <div class="profile-container">

    <div>
      <img src='/uploads/{{user.photo}}' alt="profile picture" />
    </div>

    <form onsubmit="event.preventDefault();">
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" disabled value='{{user.email}}' id='email' />
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" value='{{user.name}}' id='name' />
        </div>
        <div>
          <div class="form-group col-6">
            <label>Password</label>
            <input type="password" class="form-control" value='{{user.password}}' id='password' />
          </div>
          <div class="form-group col-6">
            <label>Repeat password</label>
            <input type="password" class="form-control" value='{{user.password}}' id='password-2' />
          </div>
        </div>
        <div class="form-group">
          <label>Experience</label>
          <select class="form-control" id='experience' name='experience'>
            <option value="" disabled selected>Select an experience</option>
            {{#each experience}}
            <option value="{{this}}" {{#if (eq this ../user.experience)}}selected{{/if}}>
              {{this}}
            </option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label>Skills</label>
          <select class="form-control" id='skill' name='skill'>
            <option value="" disabled selected>Select a skill</option>
            {{#each skills}}
            <option value="{{this}}" {{#if (eq this ../user.skill)}}selected{{/if}}>
              {{this}}
            </option>
            {{/each}}
          </select>
        </div>
      </div>

      <button class="btn btn-primary" onclick='editarDatos()'>Update Account</button>
      <button class="btn btn-danger" onclick='deleteUser()'>Delete Account</button>

    </form>
  </div>

</div>



<script>

  let email = document.getElementById('email');
  let name = document.getElementById('name');
  let password = document.getElementById('password');
  let password_2 = document.getElementById('password-2');
  let experience = document.getElementById('experience');
  let skill = document.getElementById('skill');

  // edit
  const editarDatos = async () => {

    if (password.value !== password_2.value) {
      alert('Los contraseñas no coinciden');

    } else {
      // payload
      let payload = {
        email: email.value,
        name: name.value,
        password: password.value,
        experience: experience.value,
        skill: skill.value,
      }

      try {
        await axios.put('http://localhost:3000/update_user_profile', payload)
          .then(() => {
            alert('Datos actualizados con éxito')
          });

      } catch ({ response }) {
        const { data } = response
        const { error } = data
        alert(error)
      }
    }
  }
  // delete
  const deleteUser = async () => {
    await axios.delete(`http://localhost:3000/delete_account/${email.value}`)
      .then(() => {
        alert('Cuenta eliminada con éxito');
        // redirect login
        window.location.href = `http://localhost:3000/signin`
      })
  }
</script>
